// Points of reassembly
@import 'include-media/dist/include-media';

$breakpoints: (
  'tablet': 650px,
  'smallDesktop': 850px,
  'desktop': 1024px
);

// Brand Colors
$Theme-color-tiffanyBlue: #5cf0ed;
$Theme-color-brightTurquoise: #0dc0f2;
$Theme-color-caribbeanGreen: #00c2b6;
$Theme-color-cerulean: #00a5d4;
$Theme-color-horizon: #266484;
$Theme-color-limedSpruce: #2f3d45;
$Theme-color-ming: #3b6e87;
$Theme-color-polar: #ebf5fa;
$Theme-color-tulipTree: #efaa37;
$Theme-color-white: #fff;
$Theme-color-yellowOrange: #fab23c;
$Theme-color-gunMetal: #41505b;
$Theme-color-blueyGrey: #849aaa;

$mirrorconf-Theme-color-orange: #fd7d57;
$mirrorconf-Theme-color-white: #fff;

// Color Usage
$Theme-palette-text-body-default: $Theme-color-blueyGrey !default;

// Spacing
$Theme-spacing-default: 40px;
$Theme-spacing-xlarge: 120px;
$Theme-spacing-large: 80px;
$Theme-spacing-small: 20px;
$Theme-spacing-xSmall: 10px;

$Theme-grid-maxWidth: 1280px;
$Theme-grid-singleColumn-maxWidth: 600px;

// Tags
$Theme-tags-color: (
  design: $Theme-color-caribbeanGreen,
  development: $Theme-color-cerulean,
  general: $Theme-color-ming,
  community: $Theme-color-tulipTree
);

// Layers
$Theme-layer-stripeTriangle: 4;
$Theme-layer-stickyElement: 5;
$Theme-layer-overlay: 6;

// Typography
$Theme-typography-fontWeight-bold: 700;
$Theme-typography-fontWeight-medium: 500;
$Theme-typography-fontWeight-regular: 400;

// Components variables
$Theme-nav-height-desktop: 80px;
$Theme-nav-height-mobile: 60px;

$Theme-font-families: (
  subvisual: ('futura-pt', sans-serif),
  heading: ('pt-serif', serif),
  bodyText: ('pt-serif', serif)
);

$Theme-font-sizes: (
  mobile: (
    subvisual: (
      extraSmall: (
        font-size: 12px,
        line-height: 24px
      ),
      small: (
        font-size: 14px,
        line-height: 26px
      ),
      subBase: (
        font-size: 16px,
        line-height: 28px
      ),
      base: (
        font-size: 20px,
        line-height: 32px
      ),
      large: (
        font-size: 24px,
        line-height: 36px
      )
    ),
    heading: (
      small: (
        font-size: 16px,
        line-height: 28px
      ),
      base: (
        font-size: 16px,
        line-height: 28px
      )
    ),
    bodyText: (
      extraSmall: (
        font-size: 12px,
        line-height: 24px
      ),
      small: (
        font-size: 16px,
        line-height: 28px
      ),
      base: (
        font-size: 16px,
        line-height: 28px
      ),
      large: (
        font-size: 20px,
        line-height: 32px
      ),
      extraLarge: (
        font-size: 20px,
        line-height: 32px
      )

    )
  ),
  desktop: (
    subvisual: (
      extraSmall: (
        font-size: 12px,
        line-height: 24px
      ),
      small: (
        font-size: 16px,
        line-height: 28px
      ),
      subBase: (
        font-size: 20px,
        line-height: 32px
      ),
      base: (
        font-size: 24px,
        line-height: 36px
      ),
      large: (
        font-size: 40px,
        line-height: 52px
      )
    ),
    heading: (
      small: (
        font-size: 20px,
        line-height: 32px
      ),
      base: (
        font-size: 24px,
        line-height: 36px
      )
    ),
    bodyText: (
      extraSmall: (
        font-size: 14px,
        line-height: 26px
      ),
      small: (
        font-size: 16px,
        line-height: 28px
      ),
      base: (
        font-size: 20px,
        line-height: 32px
      ),
      large: (
        font-size: 24px,
        line-height: 36px
      ),
      extraLarge: (
        font-size: 40px,
        line-height: 52px
      )
    )
  )
);

@mixin font-properties-on-resolution($family, $size: 'base', $resolution: 'mobile', $font-sizes: $Theme-font-sizes) {
  font-size: map-get(map-get(map-get(map-get($font-sizes, $resolution), $family), $size), 'font-size');
  line-height: map-get(map-get(map-get(map-get($font-sizes, $resolution), $family), $size), 'line-height');
}

@mixin font-properties($family, $size: 'base', $font-sizes: $Theme-font-sizes) {
  $family-list: map-get($Theme-font-families, $family);

  @include font-properties-on-resolution($family, $size, mobile, $font-sizes);

  font-family: nth($family-list, 1), nth($family-list, 2);

  @include media('>=tablet') {
    @include font-properties-on-resolution($family, $size, desktop, $font-sizes);
  }
}

@mixin background-image($imagePath) {
  background-image: image-url($imagePath);
}

@mixin retina-background($filename, $extension: 'png') {
  @include background-image("#{$filename}.#{$extension}");

  @media (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.2), (min-resolution:120dpi) {
    @include background-image("#{$filename}@2x.#{$extension}");
  }
}
