@import '../theme_vars';

.u-xSmallMargin {
  margin-bottom: $Theme-spacing-xSmall;
}

.u-xSmallThenSmallMargin {
  margin-bottom: $Theme-spacing-xSmall;

  @include media('>tablet') {
    margin-bottom: $Theme-spacing-small;
  }
}

.u-smallMargin {
  margin-bottom: $Theme-spacing-small;
}

.u-smallThenDefaultMargin {
  margin-bottom: $Theme-spacing-small;

  @include media('>tablet') {
    margin-bottom: $Theme-spacing-default;
  }
}

.u-defaultMargin {
  margin-bottom: $Theme-spacing-default;
}

.u-defaultThenLargeMargin {
  margin-bottom: $Theme-spacing-default;

  @include media('>tablet') {
    margin-bottom: $Theme-spacing-large;
  }
}

.u-defaultThenDoubleLargeMargin {
  margin-bottom: $Theme-spacing-default;

  @include media('>tablet') {
    margin-bottom: $Theme-spacing-xlarge;
  }
}

.u-defaultThenNoneMargin {
  margin-bottom: $Theme-spacing-default;

  @include media('>tablet') {
    margin-bottom: 0;
  }
}

.u-largeMargin {
  margin-bottom: $Theme-spacing-large;
}

.u-largeThenDoubleLargeMargin {
  margin-bottom: $Theme-spacing-large;

  @include media('>tablet') {
    margin-bottom: $Theme-spacing-large * 1.5;
  }
}

.u-doubleLargeMargin {
  margin-bottom: $Theme-spacing-xlarge;
}

.u-noneThenSmallMargin {
  @include media('>tablet') {
    margin-bottom: $Theme-spacing-small;
  }
}

.u-noneThenDefaultMargin {
  @include media('>tablet') {
    margin-bottom: $Theme-spacing-default;
  }
}

.u-noneThenLargeMargin {
  @include media('>tablet') {
    margin-bottom: $Theme-spacing-large;
  }
}

.u-noneThenDoubleLargeMargin {
  @include media('>tablet') {
    margin-bottom: $Theme-spacing-large * 1.5;
  }
}

.u-smallThenNoneMargin {
  margin-bottom: $Theme-spacing-small;

  @include media('>tablet') {
    margin-bottom: 0;
  }
}

.u-largeThenNoneMargin {
  margin-bottom: $Theme-spacing-large;

  @include media('>tablet') {
    margin-bottom: 0;
  }
}

.u-smallThenLargeMargin {
  margin-bottom: $Theme-spacing-small;

  @include media('>tablet') {
    margin-bottom: $Theme-spacing-large;
  }
}

.u-navPlaceholder {
  margin-bottom: $Theme-nav-height-mobile;

  @include media('>tablet') {
    margin-bottom: $Theme-nav-height-desktop;
  }
}
