@import '../reset';
@import '../theme_vars';

$ButtonPrimary-default-background: $Theme-color-yellowOrange;
$ButtonPrimary-default-color: $Theme-color-white;
$ButtonPrimary-default-hover: darken($ButtonPrimary-default-background, 10);

.ButtonPrimary {
  @include font-properties(subvisual, small);

  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 325px;
  padding: $Theme-spacing-xSmall $Theme-spacing-small;

  background-image: linear-gradient(to bottom, $Theme-color-tiffanyBlue, $Theme-color-cerulean);
  border: 0;
  box-shadow: 0 10px 20px 0 rgba($Theme-color-cerulean, 0.25);
  color: $ButtonPrimary-default-color;
  cursor: pointer;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

    display: block;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to bottom, $Theme-color-cerulean, $Theme-color-cerulean);

    opacity: 0;

    transition: all 0.3s ease-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

.ButtonPrimary.ButtonPrimary--fullWidth {
  width: 100%;
}
