@import '../reset';
@import '../theme_vars';

.ButtonSecondary {
  @include font-properties(subvisual, small);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 325px;
  padding: $Theme-spacing-xSmall $Theme-spacing-small;

  background-color: transparent;
  border: 2px solid $Theme-color-cerulean;

  color: $Theme-color-cerulean;
  cursor: pointer;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $Theme-color-cerulean;
    border-color: transparent;
    box-shadow: 0 10px 20px 0 rgba($Theme-color-cerulean, 0.25);
    color: $Theme-color-white;
  }
}

.ButtonSecondary.ButtonSecondary--fullWidth {
  width: 100%;
}

.ButtonSecondary.ButtonSecondary--white {
  border-color: $Theme-color-white;

  color: $Theme-color-white;

  &:hover {
    background-color: $Theme-color-white;
    box-shadow: 0 10px 20px 0 rgba($Theme-color-white, 0.25);
    color: rgba($Theme-color-limedSpruce, .8);
  }
}
