@import '../reset';
@import '../theme_vars';

$ButtonPrimary-default-background: $Theme-color-yellowOrange;
$ButtonPrimary-default-color: $Theme-color-white;
$ButtonPrimary-default-hover: darken($ButtonPrimary-default-background, 10);

.ButtonPrimary {
  @include font-properties(subvisual, small);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 325px;
  padding: $Theme-spacing-xSmall $Theme-spacing-small;

  background-image: linear-gradient(to bottom, $Theme-color-tiffanyBlue, $Theme-color-cerulean);
  border: 0;
  box-shadow: 0 10px 20px 0 rgba($Theme-color-cerulean, 0.25);
  color: $ButtonPrimary-default-color;
  cursor: pointer;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

.ButtonPrimary.ButtonPrimary--fullWidth {
  width: 100%;
}
