@import '../reset';
@import '../theme_vars';

.ContentFormatter {
  width: 100%; // flex children aren't full width by default

  text-align: left;
}

.ContentFormatter.ContentFormatter--centerHorizontally {
  text-align: center;
}

.ContentFormatter.ContentFormatter--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentFormatter.ContentFormatter--right {
  text-align: right;
}

.ContentFormatter.ContentFormatter--centerHorizontallyThenLeft {
  text-align: center;

  @include media('>tablet') {
    text-align: left;
  }
}

.ContentFormatter.ContentFormatter--centerHorizontallyThenRight {
  text-align: center;

  @include media('>tablet') {
    text-align: right;
  }
}

.ContentFormatter.ContentFormatter--leftThenRight {
  text-align: left;

  @include media('>tablet') {
    text-align: right;
  }
}
