@import '../reset';
@import '../theme_vars';

.Footer {
  display: flex;
}

.Footer-credits,
.Footer-work {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: $Theme-spacing-small $Theme-spacing-default;
}

.Footer-credits {
  flex-shrink: 1;
  align-items: center;

  background-color: $Theme-color-limedSpruce;
}

.Footer-work {
  display: none;

  text-decoration: none;

  &:hover {
    .Footer-workText {
      color: $Theme-color-white;

      text-decoration: underline;
    }
  }
}

.Footer-handcrafted {
  @include font-properties(subvisual, small);
  color: $Theme-color-blueyGrey;

  text-transform: uppercase;
}

.Footer-subvisual {
  @include font-properties(subvisual, base);
  color: $Theme-color-white;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.Footer-copyright {
  @include font-properties(bodyText, extraSmall);
  color: $Theme-color-white;
  opacity: 0.5;
}

.Footer-interested {
  @include font-properties(bodyText, large);
  margin-bottom: $Theme-spacing-small;

  color: $Theme-color-limedSpruce;
}

@include media('>=tablet') {
  .Footer-credits {
    flex-basis: 70%;
    align-items: flex-start;

    background-color: $Theme-color-limedSpruce;
  }

  .Footer-work {
    flex-basis: 30%;
    display: flex;

    background-image: linear-gradient(to bottom, $Theme-color-tiffanyBlue, $Theme-color-cerulean);
  }
}
