@import '../reset';
@import '../theme_vars';

.Heading {
  @include font-properties(heading, base);
  width: 100%;

  color: $Theme-color-gunMetal;

  font-weight: $Theme-typography-fontWeight-bold;
}

.Heading.Heading--uvp {
  color: $Theme-color-white;

  font-weight: $Theme-typography-fontWeight-regular;
}

.Heading.Heading--small {
  @include font-properties(heading, small);
}

.Heading.Heading--brand,
.Heading.Heading--brandSubBase,
.Heading.Heading--brandLarge,
.Heading.Heading--brandSmall {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Heading.Heading--brand {
  @include font-properties(subvisual, base);
}

.Heading.Heading--brandSubBase {
  @include font-properties(subvisual, subBase);
}

.Heading.Heading--brandLarge {
  @include font-properties(subvisual, large);

  letter-spacing: 2px;
}

.Heading.Heading--brandSmall {
  @include font-properties(subvisual, small);
}

.Heading.Heading--blog {
  color: $Theme-color-limedSpruce;
}

.Heading-highlight {
  color: $Theme-color-brightTurquoise;
}

.Heading-light {
  color: $Theme-color-white;
}

.Heading-dimLight {
  color: $Theme-color-white;
  opacity: 0.25;
}
