@import '../reset';
@import '../theme_vars';

.Link {
  color: inherit;
  cursor: pointer;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: underline;

  &:hover {
    //TODO don't know what the hover should be
    text-decoration: underline;
  }
}

.Link.Link--highlight {
  color: $Theme-color-brightTurquoise;
}

.Link.Link--noWrap {
  white-space: nowrap;
}

.Link.Link--thin {
  font-weight: $Theme-typography-fontWeight-regular;
}
