.NavLogo {
  .NavLogo-svgColor {
    display: block;
  }
  .NavLogo-svgMono {
    display: none;
  }
}

.NavLogo.NavLogo--mono {
  .NavLogo-svgColor {
    display: none;
  }
  .NavLogo-svgMono {
    display: block;
  }
}

.NavLogo {

  width: 202px; // value extracted from the image
  height: 40px; // value extracted from the image
}

.NavLogo {
  .NavLogo-name {
    display: none;

    @include media('>tablet') {
      display: block;
    }
  }
}
