@import '../reset';
@import '../theme_vars';

.Panel {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: $Theme-color-polar;
}

.Panel.Panel--alternative {
  background-color: $Theme-color-white;
}

.Panel.Panel--action {
  background-color: $Theme-color-horizon;
}

.Panel.Panel--standout {
  background-color: $Theme-color-brightTurquoise;
}
