@import '../reset';
@import '../theme_vars';

.SitemapTopic-heading {
  @include font-properties(subvisual, small);
  color: $Theme-color-horizon;

  font-weight: $Theme-typography-fontWeight-bold;
  text-transform: uppercase;
}

.SitemapTopic-link {
  @include font-properties(bodyText, small);

  color: $Theme-color-blueyGrey;

  text-decoration: none;
}
