$Tag-color: map-get($Theme-tags-color, general);

.Tag {
  @include font-properties(subvisual, small);

  display: inline-block;

  color: $Tag-color;

  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.Tag--alt {
  color: $Theme-color-blueyGrey;
}

@each $tag, $color in $Theme-tags-color {
  .Tag.Tag--#{$tag} {
    color: $color;
  }
}
