@import '../reset';
@import '../theme_vars';

.Text {
  @include font-properties(bodyText, base);
  color: $Theme-palette-text-body-default;

  font-weight: $Theme-typography-fontWeight-regular;
}

.Text.Text--extraSmall {
  @include font-properties(bodyText, extraSmall);
}

.Text.Text--small {
  @include font-properties(bodyText, small);
}

.Text.Text--large {
  @include font-properties(bodyText, large);
}

.Text.Text--extraLarge {
  @include font-properties(bodyText, extraLarge);
}

.Text.Text--strong {
  font-weight: $Theme-typography-fontWeight-bold;
}

.Text.Text--italic {
  font-style: italic;
}

.Text.Text--uppercase {
  text-transform: uppercase;
}

.Text.Text--light {
  color: $Theme-color-white;
}

.Text.Text--dark {
  color: $Theme-color-horizon;
}

.Text.Text--dimLight {
  color: $Theme-color-white;
  opacity: 0.6;
}

.Text.Text--engagement {
  @include font-properties(heading, base);
  color: $Theme-color-white;
}

.Text.Text--brandSmall {
  @include font-properties(subvisual, small);
}

.Text.Text--brand {
  @include font-properties(subvisual, base);
}

.Text.Text--blog {
  color: $Theme-color-limedSpruce;
}

.Text.Text--limedSpruce {
  color: $Theme-color-limedSpruce;
}

.Text.Text--highlight {
  color: $Theme-color-brightTurquoise;
}
